<div id="container">
  <main>
    <h1>Lautaro Portillo</h1>
  </main>
</div>

<style>
  #container {
    height: 100vh;
  }
  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 5rem;
    }
  }
</style>