---
const { lang, t } = Astro.props;

const languages = [
	{ code: 'es', label: t.languageOptions.es },
	{ code: 'en', label: t.languageOptions.en },
]

import sun from '../assets/sun.svg'
import moon from '../assets/moon.svg'
---

<div id="container">
  <header>
    <form id="language-switch">
      <label for="theme-switch">{t.themeOptions.label}:</label>
      <button id="theme-switch">
        <!-- <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-moon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 1.992a10 10 0 1 0 9.236 13.838c.341 -.82 -.476 -1.644 -1.298 -1.31a6.5 6.5 0 0 1 -6.864 -10.787l.077 -.08c.551 -.63 .113 -1.653 -.758 -1.653h-.266l-.068 -.006l-.06 -.002z" /></svg> -->
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-moon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
        <!-- <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-sun"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 19a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z" /><path d="M18.313 16.91l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.218 -1.567l.102 .07z" /><path d="M7.007 16.993a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z" /><path d="M4 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z" /><path d="M21 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z" /><path d="M6.213 4.81l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.217 -1.567l.102 .07z" /><path d="M19.107 4.893a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z" /><path d="M12 2a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z" /><path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" /></svg> -->
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-sun"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
      </button>
    </form>

    <form id="language-switch">
      <label for="language-select">{t.languageOptions.label}:</label>
      <select id="language-select">
        {
          languages.map((language) => (
            <option value={language.code} selected={language.code === lang}>
              {language.label}
            </option>
          ))
        }
      </select>
    </form>
    
  </header>
  <main>
    <section id="informacion">
      <h1>Lautaro Portillo</h1>

      <p>
        Desarrollador FullStack con experiencia en proyectos reales tanto institucionales como personales.
      </p>

      <section id="links">
        <a class="linkedin">
          <svg  
            xmlns="http://www.w3.org/2000/svg"    
            viewBox="0 0 24 24"  
            fill="currentColor"  
            class="icon icon-tabler icons-tabler-filled icon-tabler-brand-linkedin">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M17 2a5 5 0 0 1 5 5v10a5 5 0 0 1 -5 5h-10a5 5 0 0 1 -5 -5v-10a5 5 0 0 1 5 -5zm-9 8a1 1 0 0 0 -1 1v5a1 1 0 0 0 2 0v-5a1 1 0 0 0 -1 -1m6 0a3 3 0 0 0 -1.168 .236l-.125 .057a1 1 0 0 0 -1.707 .707v5a1 1 0 0 0 2 0v-3a1 1 0 0 1 2 0v3a1 1 0 0 0 2 0v-3a3 3 0 0 0 -3 -3m-6 -3a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1" />
          </svg>
          <!-- <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg> -->
          LinkedIn
        </a>
        <a class="github">
          <svg  
            xmlns="http://www.w3.org/2000/svg"   
            viewBox="0 0 24 24"  
            fill="currentColor"  
            class="icon icon-tabler icons-tabler-filled icon-tabler-brand-github">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z" />
          </svg>
          <!-- <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg> -->
          GitHub
        </a>
      </section>

    </section>
  </main>
</div>

<style>
  #container {
		height: 100%;
    display: flex;
    flex-direction: column;
	}

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 1rem;
  }
  header p {
    margin: 0;
  }
  #language-switch {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  header button {
    all: unset;
    display: flex;
    align-items: center;
  }
  header button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  #theme-switch svg:last-child {
    display: none;
  }
  :global(.darkMode) #theme-switch svg:first-child {
    display: none;
  }
  :global(.darkMode) #theme-switch svg:last-child {
    display: block;
  }

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#informacion {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;
	}
  #informacion h1 {
		font-size: 1.5rem;
    margin: 0;
    line-height: 0.25;
	}

  #links {
		display: flex;
		gap: 1rem;
	}
  #links a {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.1rem 0.2rem;
    gap: 0.25rem;
    font-size: 0.9rem;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  #links a:hover {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
  }
  svg {
    width: 1.4rem;
    height: 1.4rem;
  }
  

  @media (min-width: 768px) {
    #informacion h1 {
      font-size: 3rem;
      line-height: 0.5;
    }

    #informacion p {
      font-size: 1.3rem;
    }

    #links a {
      padding: 0.25rem 0.5rem;
      gap: 0.5rem;
      font-size: 1rem;
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
</style>
