<div id="container">
  <main>
    <section id="informacion">
      <h1>Lautaro Portillo</h1>

      <p>
        Desarrollador FullStack con experiencia en proyectos reales tanto institucionales como personales.
      </p>

      <section id="links">
        <a class="linkedin">
          <span class="icon"></span>
          LinkedIn
        </a>
        <a class="github">
          <span class="icon"></span>
          GitHub
        </a>
      </section>

    </section>
  </main>
</div>

<style>
  #container {
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#informacion {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;
	}
  #informacion h1 {
		font-size: 1.6rem;
    margin: 0;
    line-height: 0.25;
	}

  #links {
		display: flex;
		gap: 1rem;
	}
  #links a {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.1rem 0.2rem;
    gap: 0.25rem;
  }
  #links a:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
  #links a .icon {
    width: 1.7rem;
    height: 1.7rem;
    background-size: contain;
    background-position: center;
  }
  .linkedin .icon {
    background-image: url(/linkedinDark.png);
  }
  .linkedin:hover .icon {
    background-image: url(/linkedinLight.png);
  }
  .github .icon {
    background-image: url(/githubDark.png);
  }
  .github:hover .icon {
    background-image: url(/githubLight.png);
  }
  

  @media (min-width: 768px) {
    #informacion h1 {
      font-size: 3rem;
      line-height: 0.5;
    }

    #informacion p {
      font-size: 1.3rem;
    }

    #links a {
      padding: 0.25rem 0.5rem;
      gap: 0.5rem;
    }
  }
</style>