---
const { lang, t } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Lautaro Portillo</title>

		<!--Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
		
		<script type="text/javascript" src="/src/scripts/darkMode.js" defer></script>
		<script type="text/javascript" src="/src/scripts/language.js" defer></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--text-color: #000;
		--background-color: #fff;
	}
	.darkMode {
		--text-color: #fff;
		--background-color: #000;
	}

	html,
	body {
		margin: 0;
		height: 100dvh;
		width: 100%;
		font-size: 16px;
		font-family: "Atkinson Hyperlegible Mono", sans-serif;
		color: var(--text-color);
		background-color: var(--background-color);
	}
</style>
